@tailwind base;

@tailwind components;
@tailwind utilities;

.has-text-align-left {
    @apply text-left;
}

.has-text-align-center {
    @apply text-center;
}

.has-text-align-right {
    @apply text-right;
}

.has-large-font-size {
    @apply text-4xl;
}

.alignfull {
    margin-left: -32px;
    width: calc(100% + 64px) !important;
    max-width: calc(100% + 64px);
}

.wp-block-image img {
    @apply max-w-full mt-2;
}

.wp-block-image.aligncenter {
    @apply text-center;
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
    @apply w-full;
}

.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
    @apply table ml-0 mr-0;
}

.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
    @apply table-caption;

    caption-side: bottom;
}

.wp-block-image .alignleft {
    @apply float-left mr-4;
}

.wp-block-image .alignright {
    @apply float-right ml-4;
}

.wp-block-image .aligncenter {
    @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
    @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
    @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
    @apply mr-4;
}

.wp-block-cover {
    @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

    min-height: 430px;
}

.wp-block-verse {
    @apply font-sans;
}

.wp-block-media-text {
    @apply grid grid-cols-2 gap-4;
}

.wp-block-table {
    @apply max-w-3xl;
    @apply mx-auto;
}

.wp-block-table tr td {
    padding: 0.5em 1.5em;
}

.wp-block-table tr:nth-child(even) {
    background: #CCC
}

.wp-thumbnail-caption {
    font-size: 13px;
    margin-top: 0.5em;
    text-align: center;
}

.wp-block-social-link-anchor {
    display: flex;
    color: currentColor;
    fill: currentColor;
}

.wp-block-social-links {
    @apply flex flex-row justify-center;
}

.wp-block-group {
    box-sizing: border-box
}

h1.has-background, h2.has-background, h3.has-background, h4.has-background, h5.has-background, h6.has-background {
    padding: 1.25em 2.375em
}

.wp-block-image:not(.is-style-rounded) img {
    border-radius: inherit
}

.wp-block-image.is-style-circle-mask img, .wp-block-image.is-style-rounded img {
    border-radius: 9999px
}

@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
    .wp-block-image.is-style-circle-mask img {
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-mode: alpha;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        border-radius: 0
    }
}

.wp-block-jetpack-layout-grid {
    @apply flex flex-col md:flex-row;
    column-gap: 3em;
}